<!-- dashboard.html -->

{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/profile.css') }}"
/>
<nav class="menu-items-wrapper navbar">
  <a class="navbar-logo" href="#">
    <img src="../static/img/vitaguide.svg" alt="logo" />
  </a>
  <ul class="links">
    <nav class="menu-items-wrapper navbar style-green">
      <ul class="links">
        <li class="menu-item"><a href="/dashboard">Dashboard</a></li>
        <li class="menu-item"><a href="/myhealth">My Health</a></li>
        <li class="menu-item"><a href="/mynutrition">My Nutrition</a></li>
        <li class="menu-item"><a href="/tracking">Vitamin Tracking</a></li>
        <li class="menu-item"><a href="/quizzes">Fun Quizzes</a></li>
        <li class="menu-item">
          <a href="#">Streak⚡{{ current_user.user_streak}}</a>
        </li>
        <li class="menu-item">
          <a href="#"
            ><div class="dropdown-wrapper">
              <!-- a button to toggle show/hide of dropdown -->
              <button
                id="my-dropdown-toggle"
                class="button style-green dropdown-toggle"
                aria-expanded="false"
              >
                Alerts
                <span class="my-badge badge style-red edge-circle pulse"
                  >3</span
                >
              </button>
              <!-- dropdown: in this case a menu -->
              <ul
                class="dropdown menu-items-wrapper"
                aria-labelledby="my-dropdown-toggle"
              >
                <li class="menu-item"><a href="#">Alerts</a></li>
                <li role="separator" class="menu-item separator"></li>
                <li class="menu-item">
                  <a href="#">Welcome {{ current_user.first_name}}</a>
                </li>
                <li class="menu-item"><a href="/dashboard">Your Fruits</a></li>
                <li class="menu-item"><a href="#">Keep the Streak!</a></li>
                <!-- dropdown arrow which is optional -->
                <li aria-hidden="true"><span class="pointer-arrow"></span></li>
              </ul>
            </div>
          </a>
        </li>
        <li class="menu-item active">
          <a href="/profile">{{ current_user.first_name}}'s Profile</a>
        </li>
      </ul>
    </nav>
  </ul>
</nav>

<div class="profile-container">
  <div class="profile-header">
    <h1>{{ current_user.first_name }}'s Profile</h1>
  </div>

  <div class="profile-section">
    <h2><mark class="style-accent inline">Personal Information</mark></h2>
    <div class="profile-details">
      <p><strong>First Name:</strong> {{ current_user.first_name }}</p>
      <p><strong>Last Name:</strong> {{ current_user.last_name }}</p>
      <p><strong>Email:</strong> {{ current_user.email }}</p>
      <p><strong>Age:</strong> {{ current_user.age }}</p>
      <p><strong>Gender:</strong> {{ current_user.gender }}</p>
      <p><strong>Country:</strong> {{ current_user.nationality }}</p>
    </div>
  </div>

  <div class="profile-section">
    <h2><mark class="style-green inline">Health Information</mark></h2>
    <div class="profile-details">
      <p>
        <strong><mark class="style-red">Allergies:</mark></strong> {{
        current_user.allergies }}
      </p>
      <p>
        <strong><mark class="style-purple">Health History:</mark></strong>
        {{ current_user.health_history }}
      </p>
      <p>
        <strong><mark class="style-orange">Fruit Preference:</mark></strong> {{
        current_user.fruit_preference }}
      </p>
      <p>
        <strong><mark class="style-pink">Favorite Fruits:</mark></strong> {{
        current_user.fav_fruits }}
      </p>
      <p>
        <strong><mark class="style-yellow">Streak:</mark></strong> {{
        current_user.user_streak }}
      </p>
    </div>
  </div>
</div>

<a
  href="/logout"
  class="button style-red position-absolute place-bottom place-right"
  >Logout</a
>

{% endblock %}
